<li>
    <div class="relative inline-block text-left">
        <button class="menu-button hover:bg-gray-100 md:p-0 rounded dark:text-white dark:hover:bg-dark-600 dark:hover:text-white dark:border-dark-800" menu-name="userMenu">
          <div class="flex items-center space-x-3 rtl:space-x-reverse m-1">
            <img src="{{ icon }}" class="h-8 rounded-full" alt="{{ iconalt }}">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">{{ name }}</span>
            <svg class="-mr-1 size-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg>
          </div>
        </button>
        <div id="userMenu" class="hidden absolute px-4 right-0 top-12 z-10 bg-dark-600 divide-y divide-gray-100 rounded-lg shadow">
          <div class="items-center justify-center w-full md:flex md:w-auto md:order-1">
            <ul class="py-2 text-lg text-center">
              <li>
                <form action="/logout" method="POST" class="block px-4 py-2 text-gray-900 rounded hover:bg-gray-100 md:p-0 dark:text-white dark:hover:bg-dark-400 dark:hover:text-white dark:border-dark-800">
                    <button type="submit">
                        Logout
                    </button>
                </form>
              </li>
            </ul>
        </div>
    </div>
</li>