<div class="flex flex-col max-w-4xl justify-between px-4 mx-auto">
    <div class="">
        <p class="text-gray-900 text-9xl dark:text-white">404</p>
        <p class="text-xl text-gray-900 dark:text-white">Not found...</p>
    </div>
    <div class="w-1/12 mt-4">
        <a href="/" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            Homepage
        </a>
    </div>
</div>