<div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
    <article class="mx-auto w-full max-w-4xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert text-gray-900 dark:text-white">
        <header class="mb-4 lg:mb-6 not-format">
            <address class="flex flex-row items-center mb-6 not-italic">
                <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                    <img class="mr-4 w-16 h-16 rounded-full" src="/static/portrait/yurand2000.jpg" alt="Yurand2000">
                    <div>
                        <a href="https://github.com/Yurand2000" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Yurand2000 - Yuri</a>
                    </div>
                </div>
            </address>
            <h1 class="mb-2 text-3xl font-extrabold leading-tight text-gray-900 lg:text-4xl dark:text-white">About me</h1>
            <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2024-11-05" title="November 5th, 2024">Nov. 5, 2024</time></p>
        </header>
        <p>
            I'm a Master Degree student in Computer Science, at the University of Pisa, Italy.
            I felt it was time for me to share some of the things I do in my spare time with the world, hope you enjoy.
        </p>
    </article>
</div>